# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dataset
# =========================
data/

# =========================
# Model weights / checkpoints
# =========================
checkpoints/
*.pt
*.pth
*.ckpt

# =========================
# Outputs
# =========================
outputs/
*.log

# =========================
# Virtual environment
# =========================
.venv/
venv/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db